.signup_input{
    display: flex;
    width: 46rem;
    height: 5rem;
    padding: 2rem;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    background: #FFFDFB;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
}

.input_box {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    margin: 2rem;
}

.main_div {
    width: 50rem;
    height: auto;
    flex-shrink: 0;
    border-radius: 1rem;
    background: #F3F3F3;
    box-shadow: 0 0.4rem 4rem 0 rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 5rem;
}

.main_heading {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    margin: 2rem;
}

.heading {
    color: #1D1D1D;
    text-align: center;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.sub_heading {
    color: #686868;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.btn_box {
    display: table;
    margin: auto;
}

input:focus {
    outline: none;
}

.error-message {
    color: red;
    font-size: 1.4rem;
}
.btn-component{
    margin-bottom: 2.0rem;
}
a.link_signp {
    text-decoration: none;
}