* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
body {
    overflow: hidden; /* Disable scroll on the body */
}
/* input_ field */
input {
    display: flex;
    width: 75rem;
    height: 7.5rem;
    align-items: center;
    gap: 1.2rem;
    border-radius: 1rem;
    background: #F3F3F3;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
    color: #979797;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 2.5rem;
    border: aliceblue;

}

.input_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.header {
    gap: 2.5rem;
}

/* button */
.btn-component {
    display: flex;
    width: 15rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: #BF5000;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: none;
    margin-top: 2.4rem;

}

.btn-component:hover {
    opacity: 0.75;
}
.btn_box {
    margin: auto;
}
.btn-component:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.disabled {
    opacity: 0.75;
    cursor: not-allowed;
}
.btn_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
}

/* Home */
.home_div {
    display: grid;
    grid-template-columns: 300px 1fr 1fr; /* Adjust column widths as needed */
    grid-gap: 10px; /* Adjust the gap between columns */
    background: #FFFFFF;
  }
  /* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 600px) {
    /* Adjust styles for mobile devices here */
    input {
        width: 100%; /* Make input full width for smaller screens */
    }

    .home_div {
        grid-template-columns: 1fr; /* Change column layout for smaller screens */
    }
}

